{% extends 'base.html' %}
{% block css %}
<style>

body {
  background-image: url('static/images/park.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

.title-brand{
    background-color: rgba(240, 248, 255, 0.478);
}

.presentation-title {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color:black;
}

</style>
{% endblock %}

{% block body %}
<body>
    <div class="wrapper">
        <div class="page-header section-dark">
            <div class="filter"></div>
    		<div class="content-center">
    			<div class="container">
    				<div class="title-brand">
    					<h1 class="presentation-title" style="text-align: center;">WELCOME TO SMART PARKING</h1>
    				<div>
                        
                    </div>    
    				<h2 class="presentation-subtitle text-center"></h2>
    			</div>
    		</div>
            <div class="moving-clouds" style="background-image: url('static/images/park.gif'); ">
              

              {% if session.is_auth %}  
              {% include 'notif.html' %} 
              {% endif %}
              
              
              
              
              

            </div>
    	</div>
  </div>
</body>
{% endblock %}
        
        
        